/* apply background colour, font, font colour, and left padding to body */
body {
    background-color: #121211;
    color: white;
    font-family: Asap, sans-serif;
    font-weight: 500;
    margin-left: 30px;
    position: sticky; /* freeze timer to top of website */
    top: 0;
}

.timer {
    display: flex;
}

.timer div {
    flex-basis: 80px;
}

.timer span {
    font-size: 40px;
}
